@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;

      min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    background-color: #dfdfdf;
}

.header {
    min-width: 1300px;
    border-bottom: 1px solid #b5b7ba;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

.header .selected {
    color: #000;
}

.center {
    width: 1300px;
    margin: 0 auto;
}

.content {
    min-width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 140px); 
}

.content h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 63px;
    margin-bottom: 75px;
}

.content img {
    margin-left: 17px;
    width: 389px;
    border-radius: 50%;
}

.content .box_text {
    width: 671px;
    background-color: #ffffff;
    float: right;
    padding: 49px 48px 51px 76px;
    margin-bottom: 100px;
}

.content .box_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}


.content .box {
    background-color: #ffffff;
    width: 1238px;
    min-height: 500px;
    margin: 50px auto 0 auto;
    padding-top: 37px;
    padding-left: 38px;
    padding-bottom: 100px;
}

footer {
  margin-top: auto;
     background-color: #dfdfdf;
    border-top: 1px solid #b5b7ba;
}

.footer {
height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.footer__right-text,
.footer__left-text {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.footer__right-text {
  margin-right: 20px;
}

.footer__left-text {
  padding-left: 20px;
}

.container {
  max-width: 1440px;
}
